<p-table [value]="blocos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20,50,100]" [lazy]="true" (onLazyLoad)="consultarPaginado($event)" responsiveLayout="scroll" [totalRecords]="totalRecords" sortMode="multiple" [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} registros.">
    <ng-template pTemplate="header">
     <tr>
      <th pSortableColumn="id">Id
       <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="nome">Nome
       <p-sortIcon field="nome"></p-sortIcon></th>
      <th pSortableColumn="tipo">Tipo
       <p-sortIcon field="tipo"></p-sortIcon></th>
      <th pSortableColumn="condominio.nome">Condominio
       <p-sortIcon field="condominio.nome"></p-sortIcon></th>
      <th>&nbsp;</th>
     </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bloco>
     <tr>
      <td class="horizontal-compact" style="text-align: right;">{{bloco.id}}</td>
      <td class="horizontal-compact" >{{bloco.nome}}</td>
      <td class="horizontal-compact" >{{bloco.tipo}}</td>
      <td class="horizontal-compact" ><a [routerLink]="['/condominio/condominio-add/', bloco.condominio.id]">{{bloco.condominio.nome}}</a></td>
      <td class="horizontal-compact" ><button pButton icon="pi pi-pencil" [routerLink]="['/bloco/bloco-add/', bloco.id]" title="Selecionar Bloco"></button><button pButton icon="pi pi-list" [routerLink]="['/apartamento/bloco/', bloco.id]" title="Selecionar Apartamentos"></button></td>
     </tr>
    </ng-template>
   </p-table>
   