<form #boletoForm="ngForm" (ngSubmit)="onSubmit(boletoForm)">
    <div class="p-fluid" *ngIf="boleto">
     <div class="p-field">
      <label id="label-id" for="id">Id</label>
      <input id="id" name="id" #id="ngModel" pInputText pKeyFilter="int" placeholder="Id" [(ngModel)]="boleto.id" [required]="false" pattern="^\d+$">
     </div>
     <div class="p-field">
      <label id="label-apartamento" for="apartamento">Apartamento</label>
      <p-dropdown id="apartamento" name="apartamento" #apartamento="ngModel" [options]="apartamentos" [(ngModel)]="boleto.apartamento" [required]="true"></p-dropdown>
     </div>
     <div class="p-field">
      <label id="label-faturamento" for="faturamento">Faturamento</label>
      <p-dropdown id="faturamento" name="faturamento" #faturamento="ngModel" [options]="faturamentos" [(ngModel)]="boleto.faturamento" [required]="true"></p-dropdown>
     </div>
     <div class="p-field">
      <label id="label-titular" for="titular">Titular</label>
      <p-dropdown id="titular" name="titular" #titular="ngModel" [options]="titulares" [(ngModel)]="boleto.titular" [required]="true"></p-dropdown>
     </div>
     <div class="p-field">
      <label id="label-vencimento" for="vencimento">Vencimento</label>
      <input id="vencimento" name="vencimento" #vencimento="ngModel" pInputText placeholder="Vencimento" [(ngModel)]="boleto.vencimento" [required]="true">
     </div>
     <div class="p-field">
      <label id="label-pagamento" for="pagamento">Pagamento</label>
      <input id="pagamento" name="pagamento" #pagamento="ngModel" pInputText placeholder="Pagamento" [(ngModel)]="boleto.pagamento" [required]="false">
     </div>
     <div class="p-field">
      <label id="label-valor" for="valor">Valor</label>
      <input id="valor" name="valor" #valor="ngModel" pInputText placeholder="Valor" [(ngModel)]="boleto.valor" [required]="true">
     </div>
     <div class="p-field">
      <label id="label-juros" for="juros">Juros</label>
      <input id="juros" name="juros" #juros="ngModel" pInputText placeholder="Juros" [(ngModel)]="boleto.juros" [required]="false">
     </div>
     <div class="p-field">
      <label id="label-multa" for="multa">Multa</label>
      <input id="multa" name="multa" #multa="ngModel" pInputText placeholder="Multa" [(ngModel)]="boleto.multa" [required]="false">
     </div>
     <div class="p-field">
      <label id="label-total" for="total">Total</label>
      <input id="total" name="total" #total="ngModel" pInputText placeholder="Total" [(ngModel)]="boleto.total" [required]="true">
     </div>
    </div>
   </form>
   <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" style="margin-right: 2px;" [disabled]="!boletoForm.valid"></button>
    <button pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" style="margin-right: 2px;" *ngIf="boleto.id"></button>
   </div>
   <p-confirmDialog #confirmacaoDialog header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
     <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacaoDialog.reject()"></button>
     <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacaoDialog.accept()"></button>
    </p-footer>
   </p-confirmDialog>
   