<form #condominioForm="ngForm" (ngSubmit)="onSubmit(condominioForm)">
  <div class="p-fluid" *ngIf="condominio">
   <div class="p-field">
    <label id="label-id" for="id">Id</label>
    <input id="id" name="id" #id="ngModel" pInputText pKeyFilter="int" placeholder="Id" [(ngModel)]="condominio.id" [required]="true" pattern="^\d+$">
   </div>
   <div class="p-field">
    <label id="label-nome" for="nome">Nome</label>
    <input id="nome" name="nome" #nome="ngModel" pInputText placeholder="Nome" [(ngModel)]="condominio.nome" [required]="true">
   </div>
   <div class="p-field">
    <label id="label-logradouro" for="logradouro">Logradouro</label>
    <input id="logradouro" name="logradouro" #logradouro="ngModel" pInputText placeholder="Logradouro" [(ngModel)]="condominio.logradouro" [required]="true">
   </div>
   <div class="p-field">
    <label id="label-numero" for="numero">Numero</label>
    <input id="numero" name="numero" #numero="ngModel" pInputText placeholder="Numero" [(ngModel)]="condominio.numero" [required]="true">
   </div>
   <div class="p-field">
    <label id="label-bairro" for="bairro">Bairro</label>
    <input id="bairro" name="bairro" #bairro="ngModel" pInputText placeholder="Bairro" [(ngModel)]="condominio.bairro" [required]="true">
   </div>
   <div class="p-field">
    <label id="label-cidade" for="cidade">Cidade</label>
    <input id="cidade" name="cidade" #cidade="ngModel" pInputText placeholder="Cidade" [(ngModel)]="condominio.cidade" [required]="true">
   </div>
   <div class="p-field">
    <label id="label-sindico" for="sindico">Sindico</label>
    <p-dropdown id="sindico" name="sindico" #sindico="ngModel" [options]="sindicos" [(ngModel)]="condominio.sindico" [required]="true"></p-dropdown>
   </div>
  </div>
 </form>
 <div class="ui-dialog-buttonpane ui-helper-clearfix">
  <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" [disabled]="!condominioForm.valid" style="margin-right: 2px;"></button>
  <button pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" *ngIf="condominio.id"></button>
 </div>
 <p-confirmDialog #confirmacaoDialog header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
   <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacaoDialog.reject()"></button>
   <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacaoDialog.accept()"></button>
  </p-footer>
 </p-confirmDialog>
 