<nav>
  <a routerLink="home">Home Component</a> | 
  <a routerLink="condominio/condominio-add">condominio add</a> |
  <a routerLink="condominio/condominio-list">condominio list</a> |
  <a routerLink="bloco/bloco-add">bloco add</a> |
  <a routerLink="bloco/bloco-list">bloco list</a> |
  <a routerLink="apartamento/apartamento-add">apartamento add</a> |
  <a routerLink="apartamento/apartamento-list">apartamento list</a> |
  <a routerLink="morador/morador-add">morador add</a> |
  <a routerLink="morador/morador-list">morador list</a> |
  <a routerLink="sindico/sindico-add">sindico add</a> |
  <a routerLink="sindico/sindico-list">sindico list</a> |
  <a routerLink="faturamento/faturamento-add">faturamento add</a> |
  <a routerLink="faturamento/faturamento-list">faturamento list</a> |
  <a routerLink="boleto/boleto-add">boleto add</a> |
  <a routerLink="boleto/boleto-list">boleto list</a> |
  <a routerLink="centro-de-custo/centro-de-custo-add">centroDeCusto add</a> |
  <a routerLink="centro-de-custo/centro-de-custo-list">centroDeCusto list</a> |
  <a routerLink="caixa/caixa-add">caixa add</a> |
  <a routerLink="caixa/caixa-filter">caixa filter</a> |
  <a routerLink="caixa/caixa-list">caixa list</a> |
  <a routerLink="banco/banco-add">banco add</a> |
  <a routerLink="banco/banco-filter">banco filter</a> |
  <a routerLink="banco/banco-list">banco list</a> |
  <a routerLink="banco-lancamento/banco-lancamento-add">bancoLancamento add</a> |
  <a routerLink="banco-lancamento/banco-lancamento-filter">bancoLancamento filter</a> |
  <a routerLink="banco-lancamento/banco-lancamento-list">bancoLancamento list</a> |
</nav>

<router-outlet></router-outlet>
