<nav>
  <a routerLink="home">Home Component</a> | 
  <a routerLink="condominio/condominio-add">condominio add</a> |
  <a routerLink="condominio/condominio-list">condominio list</a> |
  <a routerLink="bloco/bloco-add">bloco add</a> |
  <a routerLink="bloco/bloco-list">bloco list</a> |
  <a routerLink="apartamento/apartamento-add">apartamento add</a> |
  <a routerLink="apartamento/apartamento-list">apartamento list</a> |
  <a routerLink="morador/morador-add">morador add</a> |
  <a routerLink="morador/morador-list">morador list</a> |
  <a routerLink="faturamento/faturamento-add">faturamento add</a> |
  <a routerLink="faturamento/faturamento-list">faturamento list</a> |
  <a routerLink="boleto/boleto-add">boleto add</a> |
  <a routerLink="boleto/boleto-list">boleto list</a> |
</nav>

<router-outlet></router-outlet>
