<form #faturamentoForm="ngForm" (ngSubmit)="onSubmit(faturamentoForm)">
    <div class="p-fluid" *ngIf="faturamento">
     <div class="p-field">
      <label id="label-id" for="id">Id</label>
      <input id="id" name="id" #id="ngModel" pInputText pKeyFilter="int" placeholder="Id" [(ngModel)]="faturamento.id" [required]="false" pattern="^\d+$">
     </div>
     <div class="p-field">
      <label id="label-periodo" for="periodo">Periodo</label>
      <p-inputMask id="periodo" name="periodo" #periodo="ngModel" placeholder="Periodo" 
        [(ngModel)]="faturamento.periodo" [required]="true" mask="99/99/9999" ></p-inputMask>
     </div>
     <div class="p-field">
      <label id="label-condominio" for="condominio">Condominio</label>
      <p-dropdown id="condominio" name="condominio" #condominio="ngModel" [options]="condominios" [(ngModel)]="faturamento.condominio" [required]="true"></p-dropdown>
     </div>
    </div>
   </form>
   <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" style="margin-right: 2px;" [disabled]="!faturamentoForm.valid"></button>
    <button pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" style="margin-right: 2px;" *ngIf="faturamento.id"></button>
   </div>
   <p-confirmDialog #confirmacaoDialog header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
     <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacaoDialog.reject()"></button>
     <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacaoDialog.accept()"></button>
    </p-footer>
   </p-confirmDialog>
   