.horizontal-compact{
    padding: 1px 5px 1px 5px !important;
}
.p-field>label {
    display: inline-block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.ui-dialog-buttonpane{
    margin-top: 5px;
}

.id{
    color: rgb(206, 206, 206)
}