<form #centroDeCustoForm="ngForm" (ngSubmit)="onSubmit(centroDeCustoForm)">
    <div class="p-fluid" *ngIf="centroDeCusto">
     <div class="p-field">
      <label id="label-id" for="id">Id</label>
      <input id="id" name="id" #id="ngModel" pInputText pKeyFilter="int" placeholder="Id" [(ngModel)]="centroDeCusto.id" [required]="false" pattern="^\d+$">
     </div>
     <div class="p-field">
      <label id="label-nome" for="nome">Nome</label>
      <input id="nome" name="nome" #nome="ngModel" pInputText placeholder="Nome" [(ngModel)]="centroDeCusto.nome" [required]="true">
     </div>
    </div>
   </form>
   <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" style="margin-right: 2px;" [disabled]="!centroDeCustoForm.valid"></button>
    <button pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" style="margin-right: 2px;" *ngIf="centroDeCusto.id"></button>
   </div>
   <p-confirmDialog #confirmacaoDialog header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
     <button type="button" pButton icon="pi pi-times" label="Não" (click)="confirmacaoDialog.reject()"></button>
     <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confirmacaoDialog.accept()"></button>
    </p-footer>
   </p-confirmDialog>
   