<form #centroDeCustoForm="ngForm" (ngSubmit)="onSubmit(centroDeCustoForm)">
    <div class="ui-g ui-fluid" *ngIf="centroDeCusto">
     <div class="ui-g-12">
      <div class="ui-g-4 label">
       <label id="label-id" for="id">Id</label>
      </div>
      <div class="ui-g-8 input">
       <input id="id" name="id" #id="ngModel" pKeyFilter="int" placeholder="Id" [(ngModel)]="centroDeCusto.id" [required]="true" pattern="^\d+$">
      </div>
     </div>
     <div class="ui-g-12">
      <div class="ui-g-4 label">
       <label id="label-nome" for="nome">Nome</label>
      </div>
      <div class="ui-g-8 input">
       <input id="nome" name="nome" #nome="ngModel" pInputText placeholder="Nome" [(ngModel)]="centroDeCusto.nome" [required]="true">
      </div>
     </div>
    </div>
   </form>
   <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" [disabled]="!centroDeCustoForm.valid"></button>
    <button pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" *ngIf="centroDeCusto.id"></button>
   </div>
 